body {
    background-color: black;
}

#canvas_id{
    opacity: 0;
    transition: 3s;
}

.title_wrapper{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
    font-variant: all-petite-caps;
    font-family: system-ui;
    letter-spacing: -5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}